<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
<!-- Название у нас будет Product -->
{% block title %}
Post
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}

<h1>{{ post.head_name|censor }}</h1>
<h4>{{ post.time_in|date:'d M Y' }}</h4>
<h2>{{ post.article_text|censor}}</h2>


{% endblock content %}